Repository nicholls-inc/linctl: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, staticcheck, go-build, go-security-check, go-mod-verify, actionlint, test-verification-cmd, test-verification-pkg

.pre-commit-config.yaml:

repos:
  # Go formatting and linting (multi-module)
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt (all modules)
        entry: scripts/run-go-hook.sh
        args: [fmt]
        language: system
        files: \.go$
        pass_filenames: false
      - id: go-vet
        name: go vet (all modules)
        entry: scripts/run-go-hook.sh
        args: [vet]
        language: system
        files: \.go$
        pass_filenames: false
      - id: go-mod-tidy
        name: go mod tidy (all modules)
        entry: scripts/run-go-hook.sh
        args: [mod-tidy]
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

  # Static analysis with staticcheck (multi-module)
  - repo: local
    hooks:
      - id: staticcheck
        name: staticcheck (all modules)
        entry: scripts/run-go-hook.sh
        args: [staticcheck]
        language: system
        files: \.go$
        pass_filenames: false

  # Go build verification (multi-module)
  - repo: local
    hooks:
      - id: go-build
        name: go build (all modules)
        entry: scripts/run-go-hook.sh
        args: [build]
        language: system
        files: \.go$
        pass_filenames: false

  # Security checks (multi-module)
  - repo: local
    hooks:
      - id: go-security-check
        name: go security check (all modules)
        entry: bash
        args: [-c, 'echo "Running basic security checks for all Go modules..." && echo "Basic security check completed"']
        language: system
        files: \.go$
        pass_filenames: false

  # Go mod verify (multi-module)
  - repo: local
    hooks:
      - id: go-mod-verify
        name: go mod verify (all modules)
        entry: scripts/run-go-hook.sh
        args: [mod-verify]
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

  # GitHub Actions workflow validation
  - repo: local
    hooks:
      - id: actionlint
        name: GitHub Actions workflow validation
        entry: scripts/validate-workflows.sh
        language: system
        files: \.github/workflows/.*\.ya?ml$
        pass_filenames: false

  # Test verification (ensures tests were run locally for each Go module)
  - repo: local
    hooks:
      - id: test-verification-cmd
        name: verify tests have been run (pr-failure-agent)
        entry: scripts/test-tracker.sh --module-path cmd verify
        language: system
        files: cmd/.*\.go$
        pass_filenames: false
      - id: test-verification-pkg
        name: verify tests have been run (pr-failure-agent)
        entry: scripts/test-tracker.sh --module-path pkg verify
        language: system
        files: pkg/.*\.go$
        pass_filenames: false



  # Conventional commits validation
  - repo: local
    hooks:
      - id: commitlint
        name: commitlint
        entry: npx commitlint --edit
        language: system
        stages: [commit-msg]
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

Fixes automation dir
  .gitpod/automations.yaml
Due: none

Add comprehensive tests to verify authentication persistence fix
  pkg/auth/auth_integration_test.go
  pkg/auth/dual_storage_test.go
  pkg/auth/issue_reproduction_test.go
  pkg/oauth/client_refresh_test.go
Due: go-fmt, go-vet, staticcheck, go-build, go-security-check, test-verification-pkg

chore: add test tracker files to gitignore
  .gitignore
  .test-tracker-.
Due: none

feat: replace custom release workflow with release-please
  .github/workflows/devcontainer-feature.yml
  .github/workflows/release.yml
  .release-please-config.json
  .release-please-manifest.json
  Makefile
  cmd/root.go
Due: go-fmt, go-vet, staticcheck, go-build, go-security-check, actionlint, test-verification-cmd

fix: update all module references to github.com/nicholls-inc/linctl
  .github/workflows/release.yml
  Formula/linctl.rb
  Makefile
  README.md
  cmd/agent.go
  cmd/auth.go
  cmd/auth_test.go
  cmd/comment.go
  cmd/issue.go
  cmd/project.go
  cmd/team.go
  cmd/user.go
  go.mod
  main.go
  pkg/agent/agent.go
  pkg/api/enhanced_client.go
  pkg/api/enhanced_client_test.go
  pkg/auth/auth.go
  pkg/auth/auth_integration_test.go
  pkg/auth/dual_storage_test.go
  pkg/auth/issue_reproduction_test.go
  pkg/config/production.go
  pkg/config/production_test.go
  pkg/integration/actor_test.go
  pkg/ratelimit/limiter.go
  pkg/ratelimit/limiter_test.go
  pkg/resilience/retry.go
  pkg/resilience/retry_test.go
  pkg/utils/actor.go
Due: go-fmt, go-vet, go-mod-tidy, staticcheck, go-build, go-security-check, go-mod-verify, actionlint, test-verification-cmd, test-verification-pkg

fix: update release-please manifest to current version 0.2.0
  .release-please-manifest.json
Due: none

docs: add release-please setup guide and fix permissions
  .github/workflows/release.yml
  RELEASE_SETUP.md
Due: actionlint

fix: update to googleapis/release-please-action@v4
  .github/workflows/release.yml
  RELEASE_SETUP.md
Due: actionlint

fix: correct release-please configuration
  .release-please-config.json
Due: none

fix: set bootstrap-sha to v0.2.1 release commit
  .release-please-config.json
Due: none

fix: add explicit workflow permissions for releases
  .github/workflows/release.yml
Due: actionlint

fix: improve workflow permissions and configuration
  .github/workflows/release.yml
Due: actionlint

fix: use GITHUB_TOKEN directly instead of fallback
  .github/workflows/release.yml
Due: actionlint

fix: use GitHub App token like working workflow
  .github/workflows/release.yml
  .release-please-config.json
Due: actionlint

fix: reset bootstrap-sha to v0.2.0 and remove duplicate v0.2.1 tag
  .release-please-config.json
Due: none

feat: auto-bump devcontainer feature version with linctl releases
  .github/workflows/devcontainer-feature.yml
Due: actionlint

fix: add path filtering to release-please workflow
  .github/workflows/release.yml
Due: actionlint

fix: clean up legacy OAuth tokens from auth config
  auth_fix.patch
  pkg/auth/auth.go.backup
Due: none

fix: update dev container to use latest linctl version
  .devcontainer/devcontainer.json
Due: none
